{% extends "base.html" %}

{%block title%}登录{%endblock%}

{% block sidebar %}{%endblock%}
{%block search%} {%endblock%}
{%block main%}
{%endblock%
}
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_image_zq">左前45</label><div class="col-sm-10">
    <div class="ajaximage">
        <a class="file-link" target="_blank" href="">
            <img class="file-img" src="">
        </a>
        <a class="file-remove" href="#remove">Remove</a>
        <input class="file-path" type="hidden" value="" id="id_car_b_image_zq" name="car_b_image_zq" />
        <input type="file" class="file-input" />
        <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
        <div class="progress progress-striped active">
            <div class="bar"></div>
        </div>
    </div>
    </div></div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_image_zq">左前45</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_image_zq" name="car_b_image_zq"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_image_yh">右后45</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_image_yh" name="car_b_image_yh"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_image_zqzy">左前座椅</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_image_zqzy" name="car_b_image_zqzy"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_image_yhzy">右后座椅</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_image_yhzy" name="car_b_image_yhzy"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_engcab">发动机仓</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_engcab" name="car_b_engcab"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_rcab">后备箱</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_rcab" name="car_b_rcab"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_dashboard">仪表盘</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_dashboard" name="car_b_dashboard"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_ccontrol">中控台</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_ccontrol" name="car_b_ccontrol"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_np">车辆名牌</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_np" name="car_b_np"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3"><label class="col-sm-2 col-form-label" for="id_car_b_dm">车辆代码</label>
    <div class="col-sm-10">
        <div class="ajaximage">
            <a class="file-link" target="_blank" href="">
                <img class="file-img" src="">
            </a>
            <a class="file-remove" href="#remove">Remove</a>
            <input class="file-path" type="hidden" value="" id="id_car_b_dm" name="car_b_dm"/>
            <input type="file" class="file-input"/>
            <input class="file-dest" type="hidden" value="/ajaximage/upload//800/600/1">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>