{% extends "base.html" %}
{% load django_bootstrap5 %}

{%block title%}新增车辆{%endblock%}

{%block search%}

{%endblock%}
{%block main%}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
             class="bi bi-bookmark-plus-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
        </svg>
        新增加车辆记录
    </h1>
</div>
<div class="container ">
    <div class="row  vertical-middle-sm">
        <form class="form-horizontal" action="./{{report.id}}" method="post">
            {% csrf_token %}



            {% for f in form%}
            {% if f.label == '事故车' %}
            三项判定
            {% endif %}


            {% for f in form%}
            {% if f.id_for_label == 'id_engine_cover_1' %}
            发动机盖
            {% endif %}

            <p>{% bootstrap_field f  layout='horizontal'%}</p>
            <P>{{f.id_for_label}}</P>
            {%endfor%}


             {% comment %}
            {% bootstrap_form form  layout="horizontal" %}
             {% endcomment%}


            <input type="submit" class="btn btn-primary " value="记录">
        </form>
    </div>
</div>


{%endblock%}